:root {
    --main-font: "TT Norms", sans-serif;
    --main-red: #E52322;
    --main-grey:  #B0B6BF;
    --main-black: #1F2C37;
    --main-white: #ffffff;
    --bg-color: #F2F4F7;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    color: var(--main-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

button {
    text-transform: inherit;
    font-weight: inherit;
}

button:hover,
button:focus,
a:focus,
a:hover {
    color: var(--main-red);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid tomato; */
}

.section {
    margin-bottom: 200px;
}

.bg-page {
    background-image: linear-gradient( 
        to right,
        #F2F4F7 100%, 
        #F2F4F7 100%
        );
}

.title-page {
    font-weight: 500;
    font-size: 37px;
    line-height: 1.2;
}

.paragraph-page {
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-grey);
}

.text-title-color {
    color: var(--main-red);
}
/* ************************************** */


.navigation {
    display: flex;
}

.logo,
.list-item button,
.list-item a {
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation .list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    width: calc((100% - 60px) / 2);
}

.list-item-header:not(:last-child) {
    margin-right: 120px;
}

.list-item button {
    background: transparent;
    border: none;
    cursor: pointer;
    /* background-color: tomato; */
}
    /* Хедер */

.navigation .list-item:first-child {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.navigation .list-item:nth-child(2) {
    font-size: 15px;
}

.navigation .list-item:last-child {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

.icon-header {
    margin-right: 10px;
}

.header-item-button button {
    display: flex;
}

.header-item-button:hover .icon-header {
    fill: var(--main-red);
}

/* link */

.link-icon-idea,
.link-icon-idea p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.link-icon-idea p::before {
    content: "";
    width: 1000px;
    height: 1px;
    margin-right: 50px;
    background-color: currentColor;
}

.icon-idea {
    stroke: var(--main-black);
}

.link-icon-idea:hover .icon-idea,
.link-icon-idea:focus .icon-idea {
    stroke: var(--main-red);
}

/* footer */

.container-footer,
.footer-main,
.social-link {
    display: flex;
}

.container-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-main,
.footer-link {
    width: calc((100% - 60px) / 2);
}

.footer-link {
    margin-right: 60px;
}

.navi-footer,
.footer-form {
    width: calc((100% - 60px) / 2);
}

.navi-footer {
    margin-right: 60px;
}

.link-title-footer {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 60px;
}

.footer-link button {
    padding: 22px 44px;
    border: 1px solid #F2353F;
    box-sizing: border-box;
    cursor: pointer;
}

.footer-link button:focus,
.footer-link button:hover {
    color: var(--main-white);
    background-color: var(--main-red);
}

.footer-form p {
    line-height: 1.5;
    margin-bottom: 65px;
}

.navi-footer .list li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-link {
    justify-content: space-between;
    align-items: center;
}

.footer-social-link {
    display: flex;
}

.social-link-item:not(:last-child) {
    margin-right: 35px;
}

.social-link-item a {
    padding-top: 45px;
    padding-bottom: 45px;
}

footer .section {
    margin-bottom: 0;
}

.footer-form-item input {
    border: none;
    padding-bottom: 15px;
    width: 235px;
    background-color: var(--bg-color);
}

.footer-form-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-black);
}

.footer-form-item button {
    border: 0;
    cursor: pointer;
}

.footer-button {
    margin-bottom: 14px;
    fill: var(--bg-color);
    stroke: var(--main-black);
}

.footer-form-item button:focus .footer-button,
.footer-form-item button:hover .footer-button {
    stroke: var(--main-red);
}

/* Ключевые направления */

.container-link {
    padding-top: 50px;
}

.directions-list {
    display: flex;
}

.directions-list li a {
    display: flex;
    width: 150px;
    height: 150px;
    padding-left: 20px;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    font-size: 11px;
    line-height: 1.5;
}
.directions-items a:hover,
.directions-items a:focus {
    background-color: var(--main-red);
    color: var(--main-white);
}

.directions-icons {
    fill: var(--main-red);
}

.directions-icons:hover,
.directions-icons:focus {
    fill: currentColor;
}

/* Доставка */

.container-delivery,
.delivery-list-item {
    display: flex;
}

.delivery,
.delivery-list {
    width: calc((100% - 60px) / 2);
}

.delivery {
    margin-right: 60px;
}

.delivery .title-page {
    margin-bottom: 60px;
}

.devivery-text {
    font-size: 20px;
    line-height: 1.4;
}

.delivery-list li:nth-of-type(1) {
    margin-bottom: 60px;
}

.delivery-list .title-page {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.list-item-delivery {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.delivery-text-list:nth-of-type(1) {
    margin-right: 40px;
}

.delivery-text-list {
    font-size: 16px;
}

/* <!-- Рекламная полиграфия --> */

.container-polygraphy .title-page {
    font-size: 45px;
}

.title-polygraphy p {
    font-size: 20px;
    line-height: 1.4;
}

.title-polygraphy {
    display: flex;
    margin-bottom: 150px;
}

.title-polygraphy h1,
.title-polygraphy p {
    width: calc((100% - 60px) / 2);
}

.list-polygraphy {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
    margin-left: -60px;
}

.list-polygraphy li {
    margin-top: 60px;
    margin-left: 60px;
}

.list-polygraphy > li {
    width: calc((100% - 240px) / 4);
}

.list-polygraphy > li > a {
    font-size: 16px;
}

.link-polygraphy-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 190px;
    margin-bottom: 20px;
    background-color: var(--bg-color);
}

/* Воплощаем идеи */

.container-ideas > p {
    margin-bottom: 20px;
}

.container-ideas .title-page {
    margin-bottom: 100px;
}

.list-ideas {
    display: flex;
    margin-bottom: 80px;
}

.list-item-ideas:not(:last-child) {
    margin-right: 60px;
}

.link-ideas:hover p,
.link-ideas:focus p {
    color: var(--main-grey);
}

.list-ideas img {
    margin-bottom: 20px;
}

.list-ideas .title-page {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 15px;
}

/* Заявка */

.container-request {
    display: flex;
}

.request {
    width: calc((100% - 60px) / 2);
}

.request:nth-child(1) {
    margin-right: 60px;
}

.request .title-page {
    margin-bottom: 45px;
}

.request .paragraph-request {
    font-size: 20px;
    line-height: 1.4;
}

.request-button {
    display: flex;
}

.request-text-button {
    display: block;
    width: 140px;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.request-button button {
    padding: 22px 44px;
    border: 1px solid var(--main-red);
    box-sizing: border-box;
    margin-right: 60px;
    cursor: pointer;
}

.request-button button:focus,
.request-button button:hover {
    color: var(--main-white);
    background-color: var(--main-red);
}

.request-button p {
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-grey);
}

/* <!-- Кнопка переключения --> */

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-button button {
    width: 1200px;
    height: 150px;
    border: 1px solid var(--main-grey);
    border-left: 0;
    border-right: 0;
    background-color: var(--main-white);
    cursor: pointer;
}

.container-button button:focus,
.container-button button:hover {
    color: var(--main-white);
    border: 1px solid var(--main-red);
    background-color: var(--main-red);
}

.container-button .title-page {
    font-size: 25px;
    line-height: 1.3;
}