:root {
    --main-font: "TT Norms", sans-serif;
    --main-red: #E52322;
    --main-grey:  #B0B6BF;
    --main-black: #1F2C37;
    --main-white: #ffffff;

}

body {
    width: 1600px;
    color: var(--main-black);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

button {
    text-transform: inherit;
    font-weight: inherit;
}

button:hover,
button:focus,
a:focus,
a:hover {
    color: var(--main-red);
}

.header {
    background-color: grey;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid tomato;
}

.navigation {
    display: flex;
}

.logo,
.list-item button,
.list-item a {
    padding-top: 40px;
    padding-bottom: 40px;
}

.navigation .list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    /* width: 570px; */
}

.list-item:not(:last-child) {
    margin-right: 120px;
}

.list-item button {
    background: transparent;
    border: none;
    cursor: pointer;

    /* background-color: tomato; */
}
.navigation .list-item img {
    margin-right: 12px;
}

.navigation .list-item:first-child {
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.navigation .list-item:last-child {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
}

.navigation .list-item:nth-child(2) {
    font-size: 15px;
}

.hero {
    /* padding-left: 100px; */
    background: url(../image/Rectangle\ 5.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 568px;
    padding-bottom: 30px;
    border: 1px solid tomato;
}

.hero h1{
    font-weight: 500;
    font-size: 45px;
    line-height: 1.2;
    padding-bottom: 40px;
    color: var(--main-white);
}

.hero h1 span {
    color: var(--main-red);
    text-transform: capitalize;
}



.social-list {
    display: flex;
    color: var(--main-white);
    font-size: 14px;
    cursor: pointer;
}

.social-list li:not(:last-child) {
    margin-right: 50px;
}